/* Made By Timothy Davis */
body {
background-color: black;
}

#game {
border: 5px solid grey;
background-color: white;
width: 30%;
margin: auto;
}

#stats {
    color: black;
}

#healthText {
    color: red;
}

#goldText {
    color: yellow;
}

#xpText {
    color: lightblue;
}

#statText {
    border: 1px solid;
}

.stat {
    font-weight: bold;
}

button {
    background: linear-gradient(90deg, #FFC671 10%, orange);
}

#monsterStats {
    background-color: red;
    display: none;
}

#text {
    background-color: darkgreen;
    padding: 10px;
    color: white;
    margin-top: 5px;
}
